.background--custom {
      background: linear-gradient(90deg, #a4baf5, #c8e74d, #f5a2a1);
      background-size: 300% 300%;
      animation: gradient 6s alternate infinite;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    @keyframes gradient {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }

.title{
    text-align: center;
    color: blue;
    padding: 10%;
    font-size: 90px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;

}

.lake {

  display: inline;
  width: 50vw;
  height: 60vw;
  margin-left: auto;
  margin-right: auto;


}

.price1 {
  text-align: center;
  font-size: 60px;
}

.vroom {
  display: block;
  width: 50vw;
  height: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.price2{
    text-align: center;
  font-size: 60px;
}

.mrhenriques{
    display: inline;
  width: 50vw;
  height: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.price3{
    text-align: center;
  font-size: 80px;
}